body {
	background-color: #FFFFFF;
}

.ui-widget-content {
	background-color: #FFFFFF;
	color: #000000;
}

.ui-button-text {
	background-color: #b3ff66;
	color: #666633;
	font-family: Tahoma, Geneva, sans-serif
}

.ui-widget-header {
	background-color: #b3ff66;
	color: #666633;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

.ui-layout-pane-north.ui-widget-content {
	border: 0;
}

.ui-layout-pane-south.ui-widget-content {
	border: 0;
}

.ui-layout-pane-east.ui-widget-content {
	border: 0;
}

.ui-layout-pane-west.ui-widget-content {
	border: 0;
}

}
.ui-layout-pane-center.ui-widget-content {
	border: 0;
}

.ui-clock.ui-widget.ui-widget-header.ui-corner-all {
	float: right;
}